<!doctype html>
<html lang="en">
    <head>
        <title> Détails de l'auteur </title>
    </head>
    <body>
        <h1>Détails de l'auteur</h1>
        <p>ID de l'auteur : {{ id }}</p>
        <p>Nom de l'auteur : {{ author.username }}</p>
        <p>Email de l'auteur : {{ author.email }}</p>
        <p>Nombre de livres de l'auteur : {{ author.nb_books }}</p>
    </body>
</html>
